.hideshow {
  display: none;
}
.h {
  height: 135vh;
}
@media screen and (max-width: 1175px) {
  .showhide {
    display: none;
  }
  .hideshow {
    display: block;
  }
  .center-mobile {
    text-align: center;
    display: block;
  }
  .h {
    height: 230vh;
  }
}

.logo {
  width: 85%;
  max-width: 330px;
}
.arrow {
  width: 30px;
  padding-left: 3px;
}
.hide {
  display: none;
}
.typewriter h1 {
  color: #fff;
  display: flex;
  overflow: hidden;
  border-right: 0.15em solid white;
  white-space: nowrap;
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

.zoom {
  transform: transform 0.2s;
}

.zoom:hover {
  transform: scale(1.1);
}
